@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0
}

.blocklyFlyoutScrollbar[display="none"] {
    display: none;
}
.swal2-popup {
    width: 250vw !important;
    background-color: gray !important;
}
.swal2-html-container {
    text-align: justify !important;
    margin: 0px !important;
    padding: 0px !important;
}